{% extends '_layout.html' %}

{% block title %}<title>{{category.name}}: {{ entry.title }}</title>{% endblock %}

{%- block metatags -%}
    {%- if category.description -%}
        <meta name="description" content="{{entry.summary(markup=False)}}">
    {%- endif -%}
{%- endblock -%}

{% block opengraph %}
<meta property="og:title" content="{{entry.title}}">
{% if entry.summary %}
<meta property="og:description" content="{{entry.summary(markup=False)}}">
{% endif %}
<meta property="og:site_name" content="MecaGorp">
<meta property="og:type" content="webpage">
{% endblock %}

{% block content %}
    <article class="h-article">
    <h2>{{ entry.title }}</h2>
    <section class="posted">
        <data class="p-uid" data="{{entry.uuid}}"></data>
        Posted <time class="dt-published" datetime="{{entry.date.isoformat()}}">
            <span class="date">{{entry.date.format('MMMM D, YYYY')}}</span> at
            <span class="time">{{entry.date.format('hh:mm A Z')}}</span>
            <span class="ago">({{entry.date.humanize()}})</span>
        </time>
        {% if entry.author %}
            by {% if entry['author-url'] %}<a href="{{ entry['author-url'] }}">{% endif %}
                {{ entry.author }}
            {% if entry['author-url'] %}</a>{% endif %}
            {% endif %}
        {% if entry.tags %}
        <ul class="tags">
            {%- for tag in entry.tags -%}
            <li><a class="p-category" rel="tag" href="{{entry.archive(tag=tag)}}">{{tag}}</a></li>
            {%- endfor -%}
        </ul>
        {% endif %}
    </section>

    {% if entry.body %}
        <section id="intro">
            {{ entry.body }}
        </section>
    {% endif %}

    {%- block toc -%}
    {% if entry.get('show-toc') %}
    <nav class="toc">
        <details><summary>Table of Contents</summary>
        {{entry.toc(max_depth=entry.get('TOC-max-depth',2)|int)}}
    </details>
    </nav>
    {% endif %}
    {%- endblock -%}

    {% if entry.more %}
        <section id="readmore">
            {{ entry.more }}
        </section>
    {% endif %}
    </article>
{% endblock %}

{% block entry_browser %}
    <section>
    <h2>{{category.name}}</h2>
    <ul>
        {% for entry in get_view(category=category,entry_type_not=('sidebar','link','spec'),order='title') %}
            <li><a href="{{ entry.link }}">{{ entry.title }}</a></li>
        {% endfor %}
    </ul>
    </section>
{% endblock %}
