{% extends '_layout.html' %}

{% block title %}<title>{{category.name}}: {{ entry.title }}</title>{% endblock %}

{% block content %}
    <h2>{{ entry.title }}</h2>
    <section class="posted">
        <data class="p-uid" data="{{entry.uuid}}"></data>
        Posted <time class="dt-published" datetime="{{entry.date.isoformat()}}">
            <span class="date">{{entry.date.format('MMMM D, YYYY')}}</span> at
            <span class="time">{{entry.date.format('hh:mm A Z')}}</span>
            <span class="ago">({{entry.date.humanize()}})</span>
        </time>
        {% if entry.author %}
            by {% if entry['author-url'] %}<a href="{{ entry['author-url'] }}">{% endif %}
                {{ entry.author }}
            {% if entry['author-url'] %}</a>{% endif %}
            {% endif %}
        {% if entry.tags %}
        <ul class="tags">
            {%- for tag in entry.tags -%}
            <li><a class="p-category" rel="tag" href="{{entry.archive(tag=tag)}}">{{tag}}</a></li>
            {%- endfor -%}
        </ul>
        {% endif %}
    </section>

    {% if entry.body %}
        <section id="intro">
            {{ entry.body }}
        </section>
    {% endif %}

    {% if entry.more %}
        <section id="readmore">
            {{ entry.more }}
        </section>
    {% endif %}

{% endblock %}